@font-face {
    font-family: "Poppins Regular";
    src: url("fonts/Poppins-Regular.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins Regular";
    color: white;
}

body {
    display: flex;
    height: 100vh;
}

#map {
    height: 100vh;
    width: 75%;
    background-color: rgb(34, 34, 34);
}

#sidebar {
    height: 100vh;
    width: 25%;
    background-color: rgb(34, 34, 34);
    border-left: solid thin rgb(190, 190, 190);
    padding: 1em;
}

.gridlines line, .axis path, .tick line {
    stroke: #7b7b7b;
}

.gridlines .domain {
    stroke: none;
}
