<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet Grid</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css')}}">
     <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <div id="sidebar">
        <p>
            Coordinates: (<span id="lat-update">N/A</span>, <span id="lon-update">N/A</span>)
        </p>
        <p>
            CESM2 Predicted <span id="year-update1">2023</span> Value: <span id="data-update">N/A</span>
        </p>

        <div id="data-variable-container" class="option-div">
            <label for="var-select">Variable:</label>
            <select name="var-select" id="var-select" value="TS">
                <option value="TS">Surface temperature (radiative)</option>
                <option value="FSNS">Net solar flux at surface</option>
                <option value="PRECL">Large-scale (stable) precipitation rate</option>
                <option value="PS">Surface pressure</option>
                <option value="PSL">Sea level pressure</option>
                <option value="TREFHT">Reference height temperature</option>
                <option value="TREFHTMN">Minimum reference height temperature</option>
                <option value="TREFHTMX">Maximum reference height temperature</option>
            </select>
        </div>

        <div id="forcing-controls-container" class="option-div">
            <label for="forcing-select">Forcing type:</label>
            <select name="forcing-select" id="forcing-select" value="cmip6">
                <option value="cmip6">cmip6</option>
                <option value="smbb">smbb</option>
            </select>
        </div>

        <div id="color-controls-container" class="option-div">
            <label for="colorbar-select">Colorbar:</label>
            <select name="colorbar-select" id="colorbar-select" value=0>
                <option value=0>Blue-Red</option>
                <option value=1>Viridis (Blue-Green-Yellow)</option>
                <option value=2>Inferno (Purple-Red-Yellow)</option>
                <option value=3>Cividis (Blue-Gray-Yellow)</option>
            </select>
        </div>
        <div id="year-controls-container" class="">
            
            <input type="range" id="year-slider" name="year-slider" min="1850" max="2100" value="2023">
            <label for="year-slider">Year: <span id="year-update2">2023</span></label>
        </div>
        <svg id="time-series-chart" height="450" width="450" class="undisplay"></svg>
    </div>

    <script>
        // global variables
        let colorbars = [d3.interpolateRdBu, d3.interpolateViridis, d3.interpolateInferno, d3.interpolateCividis];
        let globalColorLim = [];

        let currentVariable = document.getElementById("var-select");
        let forcingType = document.getElementById("forcing-select");
        let colorbar = document.getElementById("colorbar-select");
        let year = document.getElementById("year-slider");

        let latUpdate = document.getElementById('lat-update');
        let lonUpdate = document.getElementById('lon-update');
        let yearUpdate1 = document.getElementById('year-update1');
        let yearUpdate2 = document.getElementById('year-update2');
        let dataUpdate = document.getElementById('data-update');

        var svgPlot = document.getElementById('time-series-chart');

        let lastClicked = [];

        fetch("/dataset/" + currentVariable.value);

        // -- MAP GLOBAL SETUP --
        // create Leaflet map object
        var map = new L.map('map', {
            center: [30,0], 
            minZoom: 1,
            zoom: 2,
            zoomSnap: 1,
            maxBounds: [[-84, -Infinity],[84, Infinity]],
            maxBoundsViscosity: 1.0
        });
    
        // basemap
        var CartoDB_DarkMatterNoLabels = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            maxZoom: 6
        }).addTo(map);

        // update coordinates on hover in the html
        map.on('mousemove', function(e) {
            let currentLat = e.latlng.lat;
            let currentLon = e.latlng.lng;
            latUpdate.innerHTML = (Math.abs(currentLat).toFixed(2)) + "°" + (currentLat >= 0 ? 'N' : 'S');
            lonUpdate.innerHTML = (Math.abs(currentLon).toFixed(2)) + "°" + (currentLon >= 0 ? 'E' : 'W');
        });

        // --CREATING A GRIDLAYER--
        // extending a gridlayer to create a data-rendered overlay
        let DataLayer = L.GridLayer.extend({
            createTile: function (coords) {
                var tile = L.DomUtil.create('div', 'leaflet-tile custom-tile');

                var nePoint = this._tileCoordsToBounds(coords)._northEast;
                var swPoint = this._tileCoordsToBounds(coords)._southWest;

                async function renderData() {
                    let response = await fetch('/tiles/' + nePoint.lng.toString() + '/' + nePoint.lat.toString() + '/' + swPoint.lng.toString() + '/' + swPoint.lat.toString());
                    let data = await response.json();

                    // parse json response
                    let coordinatesArray = data.cornerpoints;
                    let colorlim = data.colorlim;
                    data = JSON.parse(data.data).data;

                    // set colorlim (reverse if using blue-red color scheme)
                    globalColorLim = (colorbar.value == 0 ? [colorlim[1], colorlim[0]] : colorlim);

                    // creating an svg to cover the tile
                    var svgTile = d3.select(tile)
                            .append("svg")
                            .attr("class", "custom-tile-svg")
                            .attr("width", "100%")
                            .attr("height", "100%")
                            .style("overflow", "visible")
                            .style("shape-rendering", "crispEdges");

                    // adding a g tag where the rectangles will be appended
                    var dataOverlay = svgTile.append("g")
                            .attr("width", "100%")
                            .attr("height", "100%")
                            .attr("class", "custom-overlay")
                            .style("position", "absolute")
                            .style("top", 0)
                            .style("left", 0)
                            .style("overflow", "visible")
                            .style("shape-rendering", "crispEdges"); // smoothing out appearance
                    
                    // creating d3 colormap
                    let colorScale = d3.scaleSequential().interpolator(colorbars[colorbar.value]).domain(globalColorLim);

                    // --TILE SCALING ON X AXIS--
                    // creating scale to convert range of x values from web mercator in meters to pixels
                    let xTileScale = d3.scaleLinear().domain([coordinatesArray[0], coordinatesArray[2]]).range([0, 256]);

                    // finding out the width of each rectangle by looking at the first two x values
                    let xValues = [...new Set(data.map(d => d.x))]
                    let xGap = xTileScale(xValues[1]) - xTileScale(xValues[0]);

                    // --TILE SCALING ON Y AXIS--
                    // creating scale to convert range of y values from web mercator in meters to pixels
                    let yTileScale = d3.scaleLinear().domain([coordinatesArray[1], coordinatesArray[3]]).range([256, 0]);
                    
                    // finding out the height of each rectangle by looking at the first two y values
                    let yValues = [...new Set(data.map(d => d.y))];
                    let yGap = yTileScale(yValues[1]) - yTileScale(yValues[0]);

                    // --ITERATING OVER RECTANGLES--
                    // creating a rectangle for each data point using the positions and dimensions just calculated
                    let rectangles = dataOverlay.selectAll("rect")
                                .data( data )
                                .join("rect")
                                .attr("x", d => xTileScale(d.x))
                                .attr("y", d => yTileScale(d.y))
                                .attr("width", xGap)
                                .attr("height", yGap)
                                .style("fill", d => colorScale(d[currentVariable.value]))
                                .style("opacity", 0.8)
                                .attr("class", "hoverable");
                    
                    // update data value on hover in html
                    rectangles.on("mouseover", function() {
                        dataUpdate.innerHTML = (d3.select(this).datum()[currentVariable.value].toFixed(5));
                    });
                   
                    // transforming the container g tag to ensure data points are centered in their rectangles
                    dataOverlay.style("transform", `translate(${-xGap/2}px, ${-yGap/2}px)`);
                }
                renderData();
                return tile;
            }
        });
  
        // add gridlayer to map
        var dataLayer = new DataLayer();
        dataLayer.addTo(map);

        map.on('mouseout', function(e) {
            latUpdate.innerHTML = "N/A"
            lonUpdate.innerHTML = "N/A"
            dataUpdate.innerHTML = "N/A"
        });

        // function called when selected forcing type / year changes
        async function updateDataset() {
            yearUpdate1.innerHTML = year.value;
            yearUpdate2.innerHTML = year.value;

            // run function in backend to update the data that will be fetched in renderUpdatedData()
            await fetch("/dims/" + year.value.toString() + "/" + forcingType.value.toString());

            if (svgPlot.classList.contains('displayed')) {
                plotData(lastClicked);
            } 

            // iterate over gridlayer tiles to update the data being fetched for each one
            var tiles = dataLayer._tiles;
            Object.keys(tiles).forEach(function(tileKey) {
                var tile = tiles[tileKey].el;
                var coords = tiles[tileKey].coords;
                nePoint = dataLayer._tileCoordsToBounds(coords)._northEast;
                swPoint = dataLayer._tileCoordsToBounds(coords)._southWest;
             
                // function that reassigns the data to + recolors the rectangles in a tile
                async function renderUpdatedData() {
                    // requests data that has been updated to match the newly selected forcing type + time
                    let response = await fetch('/tiles/' + nePoint.lng.toString() + '/' + nePoint.lat.toString() + '/' + swPoint.lng.toString() + '/' + swPoint.lat.toString());
                    let data = await response.json();

                    let coordinatesArray = data.cornerpoints;
                    let colorlim = data.colorlim;

                    data = JSON.parse(data.data).data;
                    
                    globalColorLim = (colorbar.value == 0 ? [colorlim[1], colorlim[0]] : colorlim);
 
                    let colorScale = d3.scaleSequential().interpolator(colorbars[colorbar.value]).domain(globalColorLim);

                    let updatedDataArray = data.map(d => d[currentVariable.value]);

                    // iterate over the rectangles in the tile to update the data and fill color
                    var rectElements = d3.select(tile).selectAll('rect').nodes();
                    rectElements.forEach(function(rect, i) {
                        rect.__data__[currentVariable.value] = updatedDataArray[i];
                        rect.style.fill = colorScale(rect.__data__[currentVariable.value]);
                    }) 
                }
                renderUpdatedData();
            })
        };

        // function called when the user changes the selected colorbar
        async function updateColors() {
            // check if color domain needs to be reversed
            let oldColorLim = globalColorLim;
            globalColorLim = (colorbar.value == 0 ? oldColorLim.sort((a, b) => b - a) : oldColorLim.sort());

            let colorScale = d3.scaleSequential().interpolator(colorbars[colorbar.value]).domain(globalColorLim);
            
            // iterate over gridlayer tiles and update fill color of rectangles
            var tiles = dataLayer._tiles;
            Object.keys(tiles).forEach(function(tileKey) {
                var tile = tiles[tileKey].el;
                var rectElements = d3.select(tile).selectAll('rect').nodes();
                    rectElements.forEach(function(rect, i) {
                        rect.style.fill = colorScale(rect.__data__[currentVariable.value]);
                    }) 
            })
        };

        async function updateDataVariable() {
            await fetch("/dataset/" + currentVariable.value);
            updateDataset();
        }

        async function updateSettings() {
            updateDataset();
        }

        currentVariable.onchange = updateDataVariable;
        colorbar.onchange = updateColors;
        year.oninput = updateSettings;
        forcingType.onchange = updateSettings;
    </script>

    <!-- adding landmass outlines -->
    <script src="{{ url_for('static', filename='js/outlines.js')}}"></script>

    <!-- d3.js code for time series on click -->
    <script>
        const svg = d3.select("svg#time-series-chart");
        const width = svg.attr("width");
        const height = svg.attr("height");
        const margin = {top: 25, right: 15, bottom: 60, left: 70};
        const chartWidth = width - margin.left - margin.right;
        const chartHeight = height - margin.top - margin.bottom;

        let annotations = svg.append("g").attr("id","annotations"); 
        let chartArea = svg.append("g").attr("id","points")
                        .attr("transform",`translate(${margin.left},${margin.top})`);

        map.on('click', function (e) {
            let clickedCoords = e.latlng
            lastClicked = clickedCoords
            plotData(clickedCoords);      
        });

        async function plotData(clickedCoords) {
            if (svgPlot.classList.contains('displayed')) {
                annotations.selectAll("*").remove();
                chartArea.selectAll("*").remove();
                svg.selectAll(".label").remove();
            } 

            svgPlot.classList.remove('undisplayed');
            svgPlot.classList.add('displayed');

            let projectedCoords = L.CRS.EPSG3857.project(clickedCoords)
            let latitude = projectedCoords.y;
            let longitude = projectedCoords.x;

            let timeResponse = await fetch('/time-series/' + longitude.toString() + '/' + latitude.toString())
            let data = await timeResponse.json(); 
            data = JSON.parse(data)

            data.sort((a, b) => a.time - b.time);

            data.forEach( d => {
                d['time'] = Number( d['time']);
                d[currentVariable.value] = Number(d[currentVariable.value]);
            });

            let currentYear = Number(year.value);

            let colorScale = d3.scaleSequential().interpolator(colorbars[colorbar.value]).domain(globalColorLim);

            // construct scales for the x-axis and y-axis based on data range
            const xDomain = d3.extent(data, d => d.time);
            const yDomain = d3.extent(data, d => d[currentVariable.value])
            const timeScale = d3.scaleLinear().domain(xDomain).range([0, chartWidth]);
            const dataScale = d3.scaleLinear().domain(yDomain).range([chartHeight, 0]);
 
            // construct y-axis
            let leftAxis = d3.axisLeft(dataScale)
            let leftGridlines = d3.axisLeft(dataScale)
                                  .tickSize(-chartWidth-10)
                                  .tickFormat("");

            annotations.append("g")
                        .attr("class", "y axis")
                        .attr("transform",`translate(${margin.left-10},${margin.top})`)
                        .call(leftAxis);
            annotations.append("g")
                        .attr("class", "y gridlines")
                        .attr("transform",`translate(${margin.left-10},${margin.top})`)
                        .call(leftGridlines);

            // construct x-axis
            let bottomAxis = d3.axisBottom(timeScale).tickFormat(d3.format("d"))
            let bottomGridlines = d3.axisBottom(timeScale)
                                    .tickSize(-chartHeight-10)
                                    .tickFormat("")
            annotations.append("g")
                        .attr("class", "x axis")
                        .attr("transform",`translate(${margin.left},${chartHeight + margin.top+10})`)
                        .call(bottomAxis)
            annotations.append("g")
                        .attr("class", "x gridlines")
                        .attr("transform",`translate(${margin.left},${chartHeight + margin.top+10})`)
                        .call(bottomGridlines);

            // create plot title
            annotations.append('text')
                .attr("x", chartWidth / 2.0 + margin.left)
                .attr("y", 15)
                .attr("class", "title")
                .style("font-size", "16px")
                .style("text-anchor", "middle")
                .style("fill", "white")
                .text("Time Series for " + clickedCoords.lat.toFixed(2).toString() + ", " + clickedCoords.lng.toFixed(2).toString());
            
            // create y-axis label
            svg.append("text")
               .attr("class", "y-axis label")
               .attr("x", -chartHeight/2.0 - 10)
               .attr("y", 10)
               .attr("transform", "rotate(-90)")
               .style("font-size", "12px")
               .style("text-anchor", "middle")
               .style("fill", "white")
               .text("Surface Temperature (C°)");

            // create x-axis label
            svg.append('text')
                .attr("x", chartWidth / 2.0 + margin.left)
                .attr("y", chartHeight + margin.bottom + 10)
                .attr("class", "x-axis label")
                .style("font-size", "12px")
                .style("text-anchor", "middle")
                .style("fill", "white")
                .text("Year");

            // construct line
            chartArea.append("path")
                .datum(data)
                .attr("fill", "none")
                .attr("stroke", "white")
                .attr("stroke-width", 1)
                .attr("d", d3.line()
                    .x(function(d) { return (timeScale(d.time)) })
                    .y(function(d) { return (dataScale(d[currentVariable.value])) })
                )
            
            // elevate plotted line above gridlines
            chartArea.raise()
       
            let selectedYearData = data.find(d => d.time === currentYear)[currentVariable.value]

            chartArea.append("circle")
                     .attr("cx", timeScale(currentYear))
                     .attr("cy", dataScale(selectedYearData))
                     .attr("r", "6px")
                     .style("fill", "gray")
                     .style("stroke", "white")
                     .style("stroke-width", 2)
        }
                
    </script>
  </body>
</html>